@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: "SBAggroB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LeferiPoint-BlackA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  word-break: keep-all;
}

html {
  overflow-y: scroll;
  background-color: #f9f9f9;
}

body {
  margin: 0;
  margin-top: 10vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "LeferiPoint-BlackA";
}

a,
a:hover,
a:active,
a:visited {
  color: #494949;
  text-decoration: none;
}

:root {
  --box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 5%);
}

:global(#root) {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.nav,
.footer {
  flex: none;
}

button {
  font-family: "LeferiPoint-BlackA";
}
