.header {
  display: flex;
  width: 100vw;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
}

.header .logo {
  color: #222;
  font-size: 1em;
  cursor: pointer;
}

.header .buttonBox {
  display: flex;
  gap: 40px;
  font-size: 1.2em;
  align-items: center;
}

.header .buttonBox .registerBox {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: #494949;
  cursor: pointer;
  padding-top: 4px;
}

.header .buttonBox .registerBox span {
  color: #000;
  font-size: 2em;
}

.header .buttonBox .registerBox .text {
  font-size: 1.2em;
  color: #494949;
}

.header .buttonBox .loginBox {
  display: flex;
  gap: 0.5em;
  align-items: center;
  cursor: pointer;
  color: #494949;
  font-size: 1.2em;
}

.header p {
  cursor: pointer;
  color: #494949;
}

.header .kakao {
  height: 1.5em;
}

.header .register {
  height: 1.5em;
}

@media (max-width: 1000px) {
  .header .logo {
    font-size: 0.8em;
  }
  .header .log {
    font-size: 0.8em;
  }

  .header .buttonBox {
    gap: 20px;
  }

  .header .registerBox {
    font-size: 0.8em;
  }
}
