.header {
  display: flex;
  width: 100vw;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  
}

.header h1 {
  font-size: 1.7em;
}

.header p {
  cursor: pointer;
  color: #494949;
}
