.header {
  display: flex;
  width: 100vw;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
}

.header .logo {
  color: #222;
  cursor: pointer;
}

.header .buttonBox {
  display: flex;
  gap: 0.5em;
  align-items: center;
  cursor: pointer;
  color: #494949;
  font-size: 1.2em;
}

.header p {
  cursor: pointer;
  color: #494949;
}

.header .kakao {
  height: 2em;
}
